<h1 class="title">Coiner</h1>
<form #form="ngForm" (ngSubmit)="register(form)" class="reg-form">
	<h2>Sign up</h2>
	<input
		type="email"
		name="email"
		id="email"
		placeholder="Enter your email"
		required
		minlength="7"
		[(ngModel)]="userForCreation.email"
		#email="ngModel"
	/>
	<div
		*ngIf="email.invalid && (email.dirty || email.touched)"
		class="myerror"
	>
		<p *ngIf="email.errors?.['required']">Email is required.</p>
		<p *ngIf="email.errors?.['minlength']">
			Email must be at least 7 characters long.
		</p>
	</div>
	<input
		type="text"
		name="username"
		id="username"
		placeholder="Enter your username"
		required
		minlength="2"
		maxlength="25"
		[(ngModel)]="userForCreation.username"
		#username="ngModel"
	/>
	<div
		*ngIf="username.invalid && (username.dirty || username.touched)"
		class="myerror"
	>
		<p *ngIf="username.errors?.['required']">Username is required.</p>
		<p *ngIf="username.errors?.['minlength']">
			Username must be at least 2 characters long.
		</p>
		<p *ngIf="username.errors?.['maxlength']">
			Username cannot exceed 25 characters.
		</p>
	</div>
	<input
		type="password"
		name="password"
		id="password"
		placeholder="Enter your password"
		required
		minlength="6"
		maxlength="64"
		[(ngModel)]="userForCreation.password"
		#passwordField="ngModel"
	/>
	<div
		*ngIf="
			passwordField.invalid &&
			(passwordField.dirty || passwordField.touched)
		"
		class="myerror"
	>
		<p *ngIf="passwordField.errors?.['required']">Password is required.</p>
		<p *ngIf="passwordField.errors?.['minlength']">
			Password must be at least 6 characters long.
		</p>
		<p *ngIf="passwordField.errors?.['maxlength']">
			Password cannot exceed 64 characters.
		</p>
	</div>
	<button type="submit" [disabled]="cargando()">
		{{ cargando() ? "Loading..." : "Sign up" }}
	</button>
	<p *ngIf="errorRegister()" class="myerror">
		Error registering. Please try again.
	</p>

	<p class="signin-text">
		Already have an account?
		<a class="signin-button" routerLink="/login" routerLinkActive="active"
			>Sign in</a
		>
	</p>
</form>
