<header class="title-container">
	<h1 class="title">Coiner</h1>
	<button class="LogOut" (click)="logout()">Log out</button>
</header>
<div class="main">
	<form (ngSubmit)="convertCurrency()" class="conversion-form">
		<div class="input-container">
			<input
				id="convertInput"
				type="number"
				placeholder="Enter a number to convert"
				[(ngModel)]="amount"
				name="amount"
				required
				min="0"
			/>
			<select
				class="currencyMenu"
				[(ngModel)]="selectedCurrencyFrom"
				name="selectedCurrencyFrom"
				required
			>
				<option value="" disabled selected>Coin</option>
				<option
					*ngFor="let currency of currencies"
					[value]="currency.code"
				>
					{{ currency.symbol }} {{ currency.code }}
				</option>
			</select>
		</div>
		<h3>Converted Value</h3>
		<div class="output-container">
			<div class="result-container">
				<p id="convertInput">$ {{ convertedValue1 }}</p>
				<select
					class="currencyMenu"
					[(ngModel)]="selectedCurrencyTo1"
					name="selectedCurrencyTo1"
					required
				>
					<option value="" disabled selected>Coin</option>
					<option
						*ngFor="let currency of currencies"
						[value]="currency.code"
					>
						{{ currency.symbol }} {{ currency.code }}
					</option>
				</select>
			</div>

			<div class="result-container">
				<p id="convertInput">$ {{ convertedValue2 }}</p>
				<select
					class="currencyMenu"
					[(ngModel)]="selectedCurrencyTo2"
					name="selectedCurrencyTo2"
					required
				>
					<option value="" disabled selected>Coin</option>
					<option
						*ngFor="let currency of currencies"
						[value]="currency.code"
					>
						{{ currency.symbol }} {{ currency.code }}
					</option>
				</select>
			</div>
		</div>
		<button class="convertButton" type="submit" [disabled]="loading()">
			{{ loading() ? "Convirtiendo..." : "Convertir" }}
		</button>
		<div *ngIf="error()" class="error-message">
			{{ error() }}
		</div>
	</form>
	<button class="admin-button" *ngIf="isAdmin" routerLink="/admin-panel">
		Admin Panel
	</button>
	<div class="convert-count">
		<p>
			{{ convertCount > 995 ? "Unlimited uses" : convertCount + " left" }}
		</p>
	</div>
</div>
