<header class="title-container">
	<a routerLink="/home" class="title-link">
		<h1 class="title">Coiner</h1>
	</a>
	<button class="LogOut" (click)="logout()">Log out</button>
</header>
<div class="main-section">
	<div *ngIf="loading" class="loading">
		<p>Loading currency...</p>
	</div>
	<div *ngIf="error" class="error-message">
		<p>{{ error }}</p>
	</div>
	<div *ngIf="currency" class="edit-form">
		<form (ngSubmit)="saveChanges()">
			<!-- Campo Nombre -->
			<div class="form-group">
				<label for="name">Name:</label>
				<div
					*ngIf="editingField === 'name'; else displayName"
					class="editable-field"
				>
					<input
						id="name"
						type="text"
						[(ngModel)]="currency.name"
						name="name"
						maxlength="25"
						required
					/>
					<div class="field-buttons">
						<button
							type="button"
							(click)="saveField('name', currency.name)"
							class="save-button"
						>
							Save
						</button>
						<button
							type="button"
							(click)="cancelEdit()"
							class="cancel-button"
						>
							Cancel
						</button>
					</div>
				</div>
				<ng-template #displayName>
					<div class="value-container">
						<span>{{ currency.name }}</span>
						<button
							type="button"
							(click)="editField('name')"
							class="edit-button"
							aria-label="Editar Nombre"
						>
							<i class="fas fa-edit"></i>
						</button>
					</div>
				</ng-template>
				<div
					class="confirmation-message"
					*ngIf="saveStatus['name'] === 'success'"
				>
					✔️ Change saved successfully.
				</div>
				<div
					class="confirmation-message error"
					*ngIf="saveStatus['name'] === 'error'"
				>
					❌ Error saving the change.
				</div>
			</div>

			<!-- Campo Código -->
			<div class="form-group">
				<label for="code">Code:</label>
				<div
					*ngIf="editingField === 'code'; else displayCode"
					class="editable-field"
				>
					<input
						id="code"
						type="text"
						[(ngModel)]="currency.code"
						name="code"
						required
						maxlength="3"
						pattern="^[A-Z]{3}$"
						value="{{ currency.code | uppercase }}"
						(input)="currency.code = currency.code.toUpperCase()"
					/>
					<div class="field-buttons">
						<button
							type="button"
							(click)="saveField('code', currency.code)"
							class="save-button"
						>
							Save
						</button>
						<button
							type="button"
							(click)="cancelEdit()"
							class="cancel-button"
						>
							Cancel
						</button>
					</div>
				</div>
				<ng-template #displayCode>
					<div class="value-container">
						<span>{{ currency.code }}</span>
						<button
							type="button"
							(click)="editField('code')"
							class="edit-button"
							aria-label="Editar Código"
						>
							<i class="fas fa-edit"></i>
						</button>
					</div>
				</ng-template>
				<div
					class="confirmation-message"
					*ngIf="saveStatus['code'] === 'success'"
				>
					✔️ Change saved successfully.
				</div>
				<div
					class="confirmation-message error"
					*ngIf="saveStatus['code'] === 'error'"
				>
					❌ Error saving the change.
				</div>
			</div>

			<!-- Campo Símbolo -->
			<div class="form-group">
				<label for="symbol">Symbol:</label>
				<div
					*ngIf="editingField === 'symbol'; else displaySymbol"
					class="editable-field"
				>
					<input
						id="symbol"
						type="text"
						[(ngModel)]="currency.symbol"
						name="symbol"
						required
						maxlength="3"
					/>
					<div class="field-buttons">
						<button
							type="button"
							(click)="saveField('symbol', currency.symbol)"
							class="save-button"
						>
							Save
						</button>
						<button
							type="button"
							(click)="cancelEdit()"
							class="cancel-button"
						>
							Cancel
						</button>
					</div>
				</div>
				<ng-template #displaySymbol>
					<div class="value-container">
						<span>{{ currency.symbol }}</span>
						<button
							type="button"
							(click)="editField('symbol')"
							class="edit-button"
							aria-label="Editar Símbolo"
						>
							<i class="fas fa-edit"></i>
						</button>
					</div>
				</ng-template>
				<div
					class="confirmation-message"
					*ngIf="saveStatus['symbol'] === 'success'"
				>
					✔️ Change saved successfully.
				</div>
				<div
					class="confirmation-message error"
					*ngIf="saveStatus['symbol'] === 'error'"
				>
					❌ Error saving the change.
				</div>
			</div>

			<!-- Campo IC -->
			<div class="form-group">
				<label for="ConvertibilityIndex">IC:</label>
				<div
					*ngIf="
						editingField === 'ConvertibilityIndex';
						else displayIC
					"
					class="editable-field"
				>
					<input
						id="ConvertibilityIndex"
						type="number"
						[(ngModel)]="currency.ic"
						name="ConvertibilityIndex"
						required
						min="0"
					/>
					<div class="field-buttons">
						<button
							type="button"
							(click)="
								saveField('ConvertibilityIndex', currency.ic)
							"
							class="save-button"
						>
							Save
						</button>
						<button
							type="button"
							(click)="cancelEdit()"
							class="cancel-button"
						>
							Cancel
						</button>
					</div>
				</div>
				<ng-template #displayIC>
					<div class="value-container">
						<span>{{ currency.ic }}</span>
						<button
							type="button"
							(click)="editField('ConvertibilityIndex')"
							class="edit-button"
							aria-label="Editar IC"
						>
							<i class="fas fa-edit"></i>
						</button>
					</div>
				</ng-template>
				<div
					class="confirmation-message"
					*ngIf="saveStatus['ConvertibilityIndex'] === 'success'"
				>
					✔️ Change saved successfully.
				</div>
				<div
					class="confirmation-message error"
					*ngIf="saveStatus['ConvertibilityIndex'] === 'error'"
				>
					❌ Error saving the change.
				</div>
			</div>

			<!-- Botones Generales -->
			<div class="button-group">
				<button
					type="button"
					class="delete-button"
					(click)="deleteCurrency()"
					[disabled]="loading"
				>
					Delete Currency
				</button>
				<button type="button" class="cancel-all" (click)="cancel()">
					Go back
				</button>
			</div>
		</form>
	</div>
</div>
