.title {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	font-size: 2.5rem;
	font-weight: 100;
	letter-spacing: 20px;
	margin: 1rem;
	text-align: center;
}

.sub-options {
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	margin: 1rem;
	display: flex;
	flex-direction: column;
	h2 {
		text-align: center;
		font-size: 1.7rem;
		margin-top: 10px;
	}
	button {
		background: #3b3b3b79;
		color: white;
		font-size: 3.5rem;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		width: 80%;
		margin: 1rem auto;
		margin-bottom: 7px;
		border-radius: 9px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		cursor: pointer;
	}
	p {
		text-align: center;
		background: #3b3b3b79;
		color: white;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		margin: 0 auto;
		padding: 5px;
		margin-bottom: 7px;
		border-radius: 9px;
		border: 1px solid rgba(255, 255, 255, 0.18);
	}
}
