<h1 class="title">Coiner</h1>
<form class="login-form" #form="ngForm" (ngSubmit)="login()">
	<h2>Sign in</h2>
	<input
		type="email"
		name="email"
		id="email"
		[(ngModel)]="loginData.email"
		#email="ngModel"
		placeholder="Email"
		required
		minlength="7"
	/>
	<p *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
		This field is required.
	</p>
	<input
		type="password"
		name="password"
		[(ngModel)]="loginData.password"
		#password="ngModel"
		placeholder="Contraseña"
		required
		minlength="6"
	/>
	<p
		*ngIf="password.invalid && (password.dirty || password.touched)"
		class="error"
	>
		The password is required and must be at least 6 characters long.
	</p>
	<button type="submit" [disabled]="cargando()">
		<span *ngIf="!cargando()">Sign in</span>
		<span *ngIf="cargando()">
			<span class="spinner"></span> Loading...
		</span>
	</button>
	<p *ngIf="errorLogin()" class="myerror">
		Error signing in. Please check your credentials.
	</p>
	<p class="login-text">
		Dont have an account?
		<a class="signup-button" routerLink="/register">Sign up</a>
	</p>
</form>
